/* Dodaj stylizację dla panelu po lewej stronie */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #34495e;
}

form {
    margin-left: 10px;
    display: flex;
}

button {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 10px;
}

img {
    width: 50px;
}

#delete-button,
#accept-button,
#add-button {
    background-color: green; /* Ustaw ten kolor dla obu przycisków */
    color: white;
    margin: 0;
    padding: 10px;
    height: 100px; /* Dostosuj wysokość według potrzeb */
}

#delete-button,
#accept-button {
    float: right;
}

#accept-button {
    margin-left: 10px;
}

#delete-button {
    background-color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10%);
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 10px;
}

textarea {
    resize: none;
    height: 80%;
}

#adminPanel {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding-right: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: none;
    align-items: center;
    width: 100%;
}

/* Dodaj stylizację dla przycisków panelu */
.adminButton {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
/* Dodaj stylizację dla formularza */
.adminForm {
    clear: both;
    margin-top: 20px;
}

/* Dodaj stylizację dla informacji o użytkowniku */
.info {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    display: flex; /* Dodaj display: flex, aby elementy były ułożone obok siebie */
    align-items: center; /* Wyśrodkuj elementy wzdłuż osi X */
    text-align: center; /* Wyśrodkuj tekst */
    max-width: 100%;
    min-height: 5%;
    max-height: 10%;
}

.info label {
    margin-right: 10px; /* Dodaj margines między etykietami a polami wejściowymi */
}

.info input {
    flex-grow: 1; /* Daj polom wejściowym elastyczny wzrost, aby zajmowały dostępną przestrzeń */
}

.success-message {
    background-color: rgba(255, 255, 255, 0.2);
}