/* Dodaj stylizację dla panelu po lewej stronie */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #34495e;
}

form {
    display: none;
    margin-left: 10px;
}

button {
    background-color: #e74c3c;
}

label {
    display: block;
    width: auto;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

#adminPanel {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding-right: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.2);
    max-height: 70%;
}

/* Dodaj stylizację dla przycisków panelu */
.adminButton {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
/* Dodaj stylizację dla formularza */
.adminForm {
    clear: both;
    margin-top: 20px;
}