/* Standardowe style, które będą obowiązywać na wszystkich rozdzielczościach */
body {
  background-color: var(--bg-color);
}

.header {
  font-size: 33px;
}

.section {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .home {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .form {
    width: 20%; /* Dostosowano szerokość */
    max-width: 30%; /* Dostosowano maksymalną szerokość */
    padding: 1%;
    align-items: center; /* Wyśrodkowano formularz */
  }

  #login-form label {
    width: 95%;
  }

  #demo-form {
    width: 25%;
  }

  #demo-form label {
    width: 80%;
  }

  .title {
    font-size: 24px; /* Zmniejszono wielkość czcionki */
    padding-left: 10%;
  }

  .message {
    text-align: center;
    font-weight: bold;
  }

  .flex {
    gap: 4px;
  }

  .form label {
    gap: 6px;
    width: 85%;
    height: 30%;
  }

  .form label .input {
    padding: 4%;
  }

  .form label .input + span {
    left: 6px;
    top: 10px;
    font-size: 0.7em;
  }

  .form label .input:placeholder-shown + span {
    font-size: 0.7em;
  }

  .form label .input:focus + span,
  .form label .input:valid + span {
    top: 25px;
  }

  .submit,
  #generator {
    width: 80%;
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 2%;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center; /* Wyśrodkowano przycisk */
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .form label .input[type="textarea"] {
    /* Dodano selektor na element textarea */
    height: 15vh; /* Dostosowano wysokość do preferencji */
    resize: none; /* Nie pozwala na zmianę rozmiaru */
  }

  .error {
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
