/* Standardowe style, które będą obowiązywać na wszystkich rozdzielczościach */
body {
  background-color: var(--bg-color);
}

.header {
  font-size: 33px;
}

@media screen and (max-width: 1600px) {
  .sections {
    max-height: 80%;
    justify-content: center;
  }

  .section1,
  .section2 {
    gap: 40px;
    padding: 10px;
    font-size: 14px;
    margin: 10px;
    max-width: 99%; /* Dostosowano maksymalną szerokość */
  }

  .section2 {
    margin-top: 20px;
  }
}
