/* Standardowe style, które będą obowiązywać na wszystkich rozdzielczościach */
body {
  background-color: var(--bg-color);
}

.header {
  font-size: 33px;
}

.section {
  width: 80%;
  margin: 0 auto;
}

/* Media queries dla ekranów 1600x900 */
@media screen and (max-width: 1600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --text-color: white;
    --bg-color: black;
    --main-color: blue;

    --h1-font: 4rem; /* Zmniejszono wielkość czcionki nagłówka */
    --h2-font: 2rem; /* Zmniejszono wielkość czcionki h2 */
    --p-font: 0.9rem; /* Zmniejszono wielkość czcionki paragrafu */
  }

  body {
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  /* CSS dla nawigacji (navbar) */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5% 2%; /* Zmniejszono padding */
    background: rgba(225, 225, 225, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  .logo {
    font-size: 28px; /* Zmniejszono wielkość czcionki logo */
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2%;
  }

  .username {
    color: var(--text-color);
    font-size: 1.5rem; /* Zmniejszono wielkość czcionki username */
    margin-left: 1%;
    font-family: "Pacifico";
  }

  .navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    margin: 10px 15px; /* Dostosowano marginesy */
    transition: all 0.5s ease;
  }

  /* CSS dla sekcji "home" */
  section {
    padding: 0 10%; /* Zmniejszono padding */
  }

  .home {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6)
      ),
      url(../img/background.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .home-text h5 {
    font-size: 1.2rem; /* Dostosowano wielkość czcionki */
    font-weight: 600;
    margin-bottom: 1%;
    text-transform: uppercase;
    letter-spacing: 3px; /* Dostosowano odstępy liter */
    color: var(--main-color);
  }

  .home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 2%;
  }

  .home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 24px; /* Dostosowano odstępy linii */
    color: #ffffffab;
    margin-bottom: 4.5%; /* Dostosowano margines */
  }
  /*koniec css dla home*/

  /*css dla stopki*/
  footer {
    gap: 2.5rem;
  }

  .footer-content {
    margin-left: 1%;
  }

  .footer-content h4 {
    margin-bottom: 1rem;
    font-size: 15px;
  }

  .footer-content li {
    margin-bottom: 2%;
  }

  .footer-content li a {
    font-size: 15px;
  }

  .footer-content h1 {
    line-height: 25px;
    margin: 1%;
  }
  /*koniec css dla stopki*/

  /*css dla wydarzen*/
  .event {
    padding: 10px;
    margin: 0 auto 15px;
    max-width: 25%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin-left: 130px;
  }

  #chosen-event {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    max-height: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 30%;
  }

  .pagination {
    padding: 0.4%;
    width: 13%;
  }

  .page-link {
    width: 37%;
    padding: 6%;
    margin: 5;
    border: 3px solid transparent;
  }

  .page-link:hover {
    border: 3px solid var(--text-color);
  }

  #chosen-image img {
    height: 250px;
    width: 300px;
  }
  /*koniec css dla wydarzen*/

  /*css dla o_nas*/
  .about-us {
    padding: 2%;
  }
  /*koniec css dla o_nas*/

  /*css dla regulaminu*/
  .regulamin {
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }
  /*koniec css dla regulaminu*/

  /*css dla FAQ*/
  .FAQ-container {
    padding: 1%;
  }
  /*koniec css dla FAQ*/

  /* CSS dla innych sekcji i elementów pozostaje bez większych zmian */
}
